## Доверительные интервалы для среднего

2.
Для 61 большого города в Англии и Уэльсе известны средняя годовая смертность на 100000 населения (по данным 1958–1964) и концентрация кальция в питьевой воде (в частях на миллион). Чем выше концентрация кальция, тем жёстче вода. Города дополнительно поделены на северные и южные.

Постройте 95% доверительный интервал для средней годовой смертности в больших городах. Чему равна его нижняя граница? Округлите ответ до 4 знаков после десятичной точки.

Будьте осторожны при использовании метода std()! Дело в том, что у объекта numpy он по умолчанию вычисляется как $\sqrt{\frac{1}{n}\sum_{i=1}^{n}{(X_{i} - \bar{X})^{2}}}$

а у объекта pandas — как $\sqrt{\frac{1}{n-1}\sum_{i=1}^{n}{(X_{i} - \bar{X})^{2}}}$


Нас интересует только второй вариант, несмещённая оценка стандартного отклонения.

Чтобы не думать всё время о том, правильно ли вычисляется в вашем случае std(), можно всегда использовать std(ddof=1) (ddof — difference in degrees of freedom), тогда нормировка всегда будет на n-1.

In [79]:
import pandas as pd
from statsmodels.stats.weightstats import _zconfint_generic, _tconfint_generic
import numpy as np

In [91]:
file =  open('water.txt', 'r')
data = pd.DataFrame(columns = file.readline().split())
i = 0
for line in file:
    l = line.split()
    if len(l) < 4:
        l.append('')
    data.loc[i] = l
    i += 1
file.close()
data['mortality'] = data['mortality'].apply(lambda col:pd.to_numeric(col))
data['hardness'] = data['hardness'].apply(lambda col:pd.to_numeric(col))
data.describe()

         mortality    hardness
count    61.000000   60.000000
mean   1494.770492   47.716667
std     266.397284   38.182475
min      15.000000    5.000000
25%    1378.000000   14.000000
50%    1527.000000   39.000000
75%    1640.000000   75.750000
max    1987.000000  138.000000

In [92]:
data

   location           town  mortality  hardness
0     South           Bath       1247     105.0
1     North     Birkenhead       1668      17.0
2     South     Birmingham       1466       5.0
3     North      Blackburn       1800      14.0
4     North      Blackpool       1609      18.0
..      ...            ...        ...       ...
56    South        Walsall       1527      60.0
57    South  West-Bromwich       1627      53.0
58    South       West-Ham       1486     122.0
59    South  Wolverhampton       1485      81.0
60    North           York       1378      71.0

[61 rows x 4 columns]

In [119]:
len(data.mortality)

61

In [112]:
mortality_mean = data['mortality'].mean()
mortality_mean_std = data['mortality'].std(ddof=1)/np.sqrt(len(data['mortality']))

In [115]:
print("Mortality: mean %.3f, std %.3f" % (mortality_mean, mortality_mean_std))
print("Mortality 95%% confidence interval", _tconfint_generic(mortality_mean, mortality_mean_std,
                                                                       len(data['mortality']) - 1,
                                                                       0.05, 'two-sided'))

Mortality: mean 1494.770, std 34.109
Mortality 95%% confidence interval (1426.542979296685, 1562.9980043098724)

In [95]:
answer2 = round(1426.542979296685, 4)
answer2

1426.543

3.
На данных из предыдущего вопроса постройте 95% доверительный интервал для средней годовой смертности по всем южным городам. Чему равна его верхняя граница? Округлите ответ до 4 знаков после десятичной точки.

In [96]:
mortality_mean_south = data[data['location'] == 'South']['mortality'].mean()
mortality_mean_south_std = data[data['location'] == 'South']['mortality'].std()/np.sqrt(len(data[data['location'] == 'South']))

In [116]:
print("Mortality in south city: mean %.3f, std %.3f" % (mortality_mean_south, mortality_mean_south_std))
print("Mortality in south city 95%% confidence interval", _tconfint_generic(mortality_mean_south, mortality_mean_south_std,
                                                                       len(data[data['location'] == 'South']) - 1,
                                                                       0.05, 'two-sided'))

Mortality in south city: mean 1376.808, std 27.509
Mortality in south city 95%% confidence interval (1320.1517462936238, 1433.463638321761)

In [98]:
answer2 = round(1433.463638321761, 4)
answer2

1433.4636

4.
На тех же данных постройте 95% доверительный интервал для средней годовой смертности по всем северным городам. Пересекается ли этот интервал с предыдущим? Как вы думаете, какой из этого можно сделать вывод?

In [117]:
mortality_mean_north = data[data['location'] == 'North']['mortality'].mean()
mortality_mean_north_std = data[data['location'] == 'North']['mortality'].std()/np.sqrt(len(data[data['location'] == 'North']))
print("Mortality in north city: mean %.3f, std %.3f" % (mortality_mean_north, mortality_mean_north_std))
print("Mortality in north city 95%% confidence interval", _tconfint_generic(mortality_mean_north, mortality_mean_north_std,
                                                                       len(data[data['location'] == 'North']) - 1,
                                                                       0.05, 'two-sided'))

Mortality in north city: mean 1582.400, std 51.332
Mortality in north city 95%% confidence interval (1478.0810398753142, 1686.718960124686)

In [118]:
print("Mortality in south city 95%% confidence interval", _tconfint_generic(mortality_mean_south, mortality_mean_south_std,
                                                                       len(data[data['location'] == 'South']) - 1,
                                                                       0.05, 'two-sided'))
print("Mortality in north city 95%% confidence interval", _tconfint_generic(mortality_mean_north, mortality_mean_north_std,
                                                                       len(data[data['location'] == 'North']) - 1,
                                                                       0.05, 'two-sided'))

Mortality in south city 95%% confidence interval (1320.1517462936238, 1433.463638321761)
Mortality in north city 95%% confidence interval (1478.0810398753142, 1686.718960124686)

5.
Пересекаются ли 95% доверительные интервалы для средней жёсткости воды в северных и южных городах?

In [90]:
data_hard = data.dropna()
hardness_north_mean = data_hard[data_hard['location'] == 'North']['hardness'].mean()
hardness_north_std = data_hard[data_hard['location'] == 'North']['hardness'].std()/np.sqrt(len(data_hard[data_hard['location'] == 'North']))
hardness_south_mean = data_hard[data_hard['location'] == 'South']['hardness'].mean()
hardness_south_std = data_hard[data_hard['location'] == 'South']['hardness'].std()/np.sqrt(len(data_hard[data_hard['location'] == 'South']))
print("North city hardness mean auc 95%% confidence interval", _tconfint_generic(hardness_north_mean, hardness_north_std,
                                                                       len(data_hard[data_hard['location'] == 'North']) - 1,
                                                                       0.05, 'two-sided'))
print("South city hardness mean auc 95%% confidence interval", _tconfint_generic(hardness_south_mean, hardness_south_std,
                                                                       len(data_hard[data_hard['location'] == 'South']) - 1,
                                                                       0.05, 'two-sided'))

North city hardness mean auc 95%% confidence interval (19.1937807693433, 38.16985559429307)
South city hardness mean auc 95%% confidence interval (46.0379774490252, 87.10487969383195)

6.
Вспомним формулу доверительного интервала для среднего нормально распределённой случайной величины с дисперсией $\sigma^2$:

$\bar{X_{n}}\pm z_{1-\frac{\alpha }{2}}\frac{\sigma }{\sqrt{n}}$

При $\sigma=1$ какой нужен объём выборки, чтобы на уровне доверия 95% оценить среднее с точностью $\pm$0.1?

In [109]:
n = (1**2)*(1.96**2)/0.1**2
n

384.1599999999999

In [ ]:
answer6 = 385